# Author: Giuseppe Bertone
# Modded by Tim Etherington
[Unit]
Description=Timer to randomize reMarkable sleep screen every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=multi-user.target
